@{
    ViewBag.Title = "Candidate Information";
    ViewBag.Message = "Rodrigo Vieira Fonseca";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Idade: 28 anos, Formação: Engenharia.</p>
<p>Cargo: Desenvolvedor WEB API Junior.</p>
<p>API Github: <a href="https://github.com/rodrigovieirafonseca/WeatherForecastAPI">https://github.com/rodrigovieirafonseca/WeatherForecastAPI</a> </p>
<p>Linkedin: <a href=" https: //www.linkedin.com/in/rodrigo-vieira-fonseca-12b51